.pimcore {
  margin-top: 150px;
  display: flex;
  .pimcore-picture {
    padding: 0px 70px;
    img {
      max-width: 100%;
      border-radius: 10px;
    }
  }

  .pimcore-info {
    p {
      margin: 15px 0px;
      line-height: 1.5;
    }

    .text {
      margin-left: 20px;
      h4 {
        color: #3b3654;
        i {
          margin-right: 10px;
        }
      }
      p {
        margin-left: 27px;
      }
    }
  }
}

@media (max-width: 800px) {
  .pimcore {
    flex-direction: column;
    .pimcore-picture {
      padding-left: 0px;
      margin-left: 70px;
      padding-right: 35px;
    }

    .pimcore-info {
      padding: 0px 90px;
      .text {
        margin: 0px;
      }
    }
  }
}

@media (max-width: 450px) {
  .pimcore {
    .pimcore-picture {
      margin-left: 20px;
    }
    .pimcore-info {
      padding: 0px 20px;
    }
  }
}
