@import 'node_modules/react-modal-video/scss/modal-video.scss';

.hero-text {
  padding: 270px 0px;
  width: 52%;
  color: white;

  h1 {
    font-size: 72px;
    margin-top: 50px;
  }
  p {
    font-size: 18px;
    padding: 30px 0px;
  }
  .hero-buttons {
    display: flex;
    align-items: center;
    .explore-btn {
      font-weight: bold;
      background: transparent;
      padding: 10px 20px;
      border: 2px rgb(146, 144, 144) solid;
      border-radius: 5px;
      color: white;
      transition: transform 0.2s;
      min-width: 120px;
      &:hover {
        transform: scale(1.1);
      }
      .fas {
        margin-left: 5px;
      }
    }

    .watch-video {
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      .fa-2x {
        margin-left: 15px;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        &:hover {
          transform: rotateY(180deg);
        }
      }
      span {
        font-weight: bold;
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .hero-text {
    margin-left: 250px;
  }
}

@media (max-width: 1000px) {
  .hero-text {
    margin-left: 150px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .hero-text {
    margin-left: 80px;
    h1 {
      font-size: 32px;
    }
    p {
      font-size: 16px;
    }
  }
}
