.focus-cards {
  margin: 50px 0px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .focus-cards {
    margin: 50px;
  }
}

@media (max-width: 1000px) {
  .focus-cards {
    flex-direction: column;
  }
}
